---
import "@fontsource-variable/onest";
import "../styles/global.css";
import Hero from "@components/hero/Hero";
import Navbar from "@components/navigation/Navbar";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>Comité de Estudiantes de Ing. Ciencias de la Computación</title>
    <meta
      name="description"
      content="Comité de Estudiantes de Ingeniería Ciencias de la Computación de la universidad PUCMM Campus Santiago"
    />
  </head>
  <body class="flex flex-col min-h-screen">
    <header>
      <Navbar client:only="react" />
      <Hero client:only="react" />
    </header>

    <main class="flex-1">
      <slot />
    </main>

    <footer>testing</footer>
  </body>
</html>
